SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
TX_TIMEOUT=300 # how many seconds before timeout

ETHERSCAN_API_KEY=

E2E_FUNDED_MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about"
